:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-primary: #ccc;
  --color-primary: rgb(222, 198, 161);
  --color-secondary: rgb(179, 112, 12);
  --color-primary-light: rgba(255, 240, 219, 1);
  --text-color: #171717;
  --text-color-light: #4b4747;
}

@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "TrajanPro3";
  src: url("../assets/fonts/TrajanPro3ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "TrajanPro3";
  src: url("../assets/fonts/TrajanPro3Light.otf") format("opentype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "TrajanPro3";
  src: url("../assets/fonts/TrajanPro3Regular.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "TrajanPro3";
  src: url("../assets/fonts/TrajanPro3SemiBold.otf") format("opentype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "TrajanPro3";
  src: url("../assets/fonts/TrajanPro3Bold.otf") format("opentype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "TrajanPro3";
  src: url("../assets/fonts/TrajanPro3Black.otf") format("opentype");
  font-weight: 900;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  --max-container-width: 1320px;
  --max-container-width-small: 1200px;
  --default-width: 100%;
}

.main-width {
  width: var(--default-width);
  max-width: var(--max-container-width);
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .main-width {
    padding: 0 30px;
  }
}

a {
  font-family: "TrajanPro3", serif;
}

p,
span,
li {
  font-family: "Darker Grotesque", sans-serif;
}

.hover-text-primary:hover {
  color: var(--color-primary);
}

.hover-bg-primary:hover {
  background-color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.border-primary {
  border-color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "TrajanPro3", serif;
}

/* h1,
h2,
h3,
h4 {
  font-family:  --font-Grotesque;
} */
