/* Header Container */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  transition: all 0.4s ease;
}

/* ===== TOP BAR ===== */
.header__top {
  text-align: center;
  font-size: 10px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-weight: 300;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: white;
  padding: 6px 0;
}

.header__line {
  width: 32px;
  height: 1px;
  background: currentColor;
  opacity: 0.6;
}

/* ===== MAIN HEADER ===== */
.header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.4s ease;
}

/* NAVIGATION */
.header__nav {
  display: none;
}

.header__link {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  color: white;
  transition: all 0.3s;
  text-align: center;
}

.header__link:hover {
  color: var(--color-primary);
}

.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: var(--color-primary);
  transition: 0.3s;
}

.header__link:hover::after {
  width: 100%;
}

/* ===== LOGO ===== */
.header__logo-box {
  position: relative;
  display: block;
}

.header__logo {
  width: 80px;
  transition: 0.4s;
}

.header__logo-glow {
  position: absolute;
  inset: 0;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  opacity: 0;
  transition: 0.4s;
}

/* sroll header */
#header.header--scrolled {
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

#header.header--scrolled #headerTop {
  background: var(--color-primary-light);
  color: #000;
}

#header.header--scrolled .header__link {
  color: #000;
}

/* ===== MOBILE TOGGLE ===== */
.header__toggle {
  display: block;
  background: none;
  border: 1px solid var(--color-primary);
  padding: 6px;
  border-radius: 6px;
}

#header.header--scrolled .header__toggle i {
  color: var(--color-primary);
}

/* ===== MOBILE MENU ===== */

.mobile-menu {
  position: fixed;
  inset: 0;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}

.mobile-menu--active {
  visibility: visible;
  opacity: 1;
}

.mobile-menu__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(6px);
}

.mobile-menu__panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #111, #000);
  padding: 60px 20px 20px;
  transform: translateX(100%);
  transition: 0.4s ease;
}

.mobile-menu__panel--active {
  transform: translateX(0);
}

.mobile-menu__close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
}

.mobile-menu__nav {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.mobile-menu__link {
  padding: 14px 0;
  font-size: 20px;
  color: white;
  border-bottom: 1px solid var(--color-primary);
}

.mobile-menu__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  border-top: 1px solid var(--color-primary);
  text-align: center;
}

.mobile-menu__note {
  font-size: 10px;
  color: var(--color-primary);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.header__toggle-icon {
  font-size: 24px;
  color: white;
}

.mobile-menu__close-icon {
  font-size: 28px;
  color: white;
}

/* responsive */

@media (min-width: 768px) {
  .header__toggle {
    display: none;
  }

  .header__nav {
    display: flex;
    gap: 80px;
    flex: 1;
    justify-content: center;
  }

  .header__top {
    font-size: 12px;
  }

  .header__link {
    font-size: 16px;
  }

  .header__top {
    padding: 10px 0;
  }

  #header.header--scrolled .header__main {
    padding: 6px 0;
  }
}

@media (min-width: 1024px) {
  .header__link {
    font-size: 20px;
  }

  .header__nav {
    gap: 120px;
  }
}

/* ---------------------------------- Footer ----------------------------*/
/* FOOTER WRAPPER */
.footer {
  background: #1a1a1a;
  color: #ffffff;
  padding: 56px 0;
}

/* GRID */
.footer__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

/* Column spacing */
.footer__col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__col--large {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Logo */
.footer__logo {
  width: 180px;
  height: auto;
}

/* Contact items */
.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__contact-item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 15px;
  line-height: 1.5;
}

.footer__icon {
  width: 22px;
  height: auto;
}

/* Menu */
.footer__menu-item {
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer__menu-item:hover {
  color: var(--color-primary);
}

/* Heading */
.footer__heading {
  font-size: 16px;
  font-weight: 600;
}

/* Social */
.footer__social {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* responsive */
@media (min-width: 768px) {
  .footer__container {
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
  }
}
