/*--------------- HomePage ----------------*/

.page-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
  justify-content: center;
}

.page-title__text {
  font-size: 28px;
  text-transform: uppercase;
  margin-top: 8px;
  font-weight: 600;
}

.page-title__line {
  width: 234px;
  height: 8px;
}

.page-title__line--left {
  display: none;
}

.page-margin {
  margin-top: 136px;
}

@media (min-width: 768px) {
  .page-title {
    flex-direction: row;
    gap: 32px;
  }

  .page-title__text {
    font-size: 36px;
  }

  .page-title__line--left {
    display: block;
  }

  .page-padding {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .page-title__line {
    width: 160px;
    height: 8px;
  }

  .page-margin {
    margin-top: 130px;
  }
}

@media (min-width: 1024px) {
  .page-title__line {
    width: 234px;
    height: 8px;
  }

  .page-title__text {
    font-size: 40px;
  }
  .page-padding {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

/*-------------- Introduction Page -----------------*/
.page-background__title {
  background-image: url("../assets/images/title-bg.webp");
  width: 100%;
  height: 150px;
  background-repeat: repeat;
  background-position: center;
  background-color: var(--color-primary-light);
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-background__title span {
  font-size: 20px;
  color: var(--color-secondary);
}

.page-background__section {
  background-image: url("../../assets/images/section-bg.png");
  background-size: 100% auto;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 60px;
}

.page-background__section:not(:first-child) {
  margin-top: 20px;
}

.page-background__section--mirror {
  background-image: url("../../assets/images/section-bg-mirror.png");
}

@media (min-width: 768px) {
  .page-background__title {
    height: 260px;
  }

  .page-background__title span {
    font-size: 24px;
  }

  .page-background__section {
    padding-bottom: 80px;
  }
}

@media (min-width: 1024px) {
  .page-background__section {
    padding-bottom: 120px;
  }
}
