/* HomePage */

.home-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}

.home-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
  justify-content: center;
}

.home-title__text {
  font-size: 32px;
  text-transform: uppercase;
  margin-top: 8px;
  font-family: "UTPTrajanPro", serif;
}

.home-title__line {
  width: 234px;
  height: 8px;
}

.home-title__line--left {
  display: none;
}

@media (min-width: 768px) {
  .home-title {
    flex-direction: row;
    gap: 32px;
  }

  .home-title__text {
    font-size: 40px;
  }

  .home-title__line--left {
    display: block;
  }

  .home-padding {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
