/*--------------- HomePage ----------------*/

.page-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
  justify-content: center;
}

.page-title__text {
  font-size: 28px;
  text-transform: uppercase;
  margin-top: 8px;
  font-weight: 600;
}

.page-title__line {
  width: 234px;
  height: 8px;
}

.page-title__line--left {
  display: none;
}

.page-margin {
  margin-top: 136px;
}

@media (min-width: 768px) {
  .page-title {
    flex-direction: row;
    gap: 32px;
  }

  .page-title__text {
    font-size: 36px;
  }

  .page-title__line--left {
    display: block;
  }

  .page-padding {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .page-title__line {
    width: 160px;
    height: 8px;
  }

  .page-margin {
    margin-top: 130px;
  }
}

@media (min-width: 1024px) {
  .page-title__line {
    width: 234px;
    height: 8px;
  }

  .page-title__text {
    font-size: 40px;
  }
  .page-padding {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

/*-------------- Pages -----------------*/
.page-background__title {
  background-image: url("../assets/images/title-bg.webp");
  width: 100%;
  height: 150px;
  background-repeat: repeat;
  background-position: center;
  background-color: var(--color-primary-light);
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-background__title span {
  font-size: 20px;
  color: var(--color-secondary);
}

.page-background__section {
  background-image: url("../assets/images/section-bg.png");
  background-size: 100% auto;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 60px;
}

.page-background__section:not(:first-child) {
  margin-top: 20px;
}

.page-background__section--mirror {
  background-image: url("../assets/images/section-bg-mirror.png");
}

@media (min-width: 768px) {
  .page-background__title {
    height: 260px;
  }

  .page-background__title span {
    font-size: 24px;
  }

  .page-background__section {
    padding-bottom: 80px;
  }
}

@media (min-width: 1024px) {
  .page-background__section {
    padding-bottom: 120px;
  }
}

/* uli */
.button__more {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}

.button__more-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-secondary);
  transition: color 0.3s ease;
}

.button__more-link:hover {
  color: var(--color-primary);
}

.button__underline {
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 0;
  background: var(--color-primary);
  transition: width 0.3s ease;
}

.button__more-link:hover .button__underline {
  width: 100%;
}

/* ------------------- Slider --------------------------*/
.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: pan-y;
}

.slider__slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 1.2s ease;
}

.slider__slide.is-active {
  opacity: 1;
}

.slider__pagination {
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  gap: 20px;
}

.slider__bullet {
  width: 10px;
  height: 10px;
  background: #ffffff80;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.slider__bullet.is-active {
  width: 40px;
  border-radius: 20px;
  background: #fff;
}

/* ---------------------- animation ---------------------------- */
[data-animate] {
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
}

[data-animate].is-visible {
  opacity: 1;
  transform: translateY(0);
}

[data-animate="fade-left"] {
  transform: translateX(-200px);
}

[data-animate="fade-up"] {
  transform: translateY(100px);
}

[data-animate="fade-down"] {
  transform: translateY(-100px);
}

[data-animate="fade-right"] {
  transform: translateX(200px);
}

[data-animate="zoom-in"] {
  transform: scale(0.95);
}
