<footer class="footer">
  <div class="footer__container main-width">
    <div class="footer__col footer__col--large">
      <img src="/assets/images/logo.png" alt="Logo" class="footer__logo" />

      <div class="footer__contact">
        <div class="footer__contact-item">
          <i class="fa-solid fa-location-dot"></i>
          <p>
            Số 1 Nguyễn Trãi, phường Thanh Xuân Trung, quận Thanh Xuân, Hà Nội,
          </p>
        </div>

        <div class="footer__contact-item">
          <i class="fa-solid fa-phone"></i>
          <p>012 345 6789</p>
        </div>

        <div class="footer__contact-item">
          <i class="fa-solid fa-envelope"></i>
          <p>info@tingnguongthomau.com</p>
        </div>
      </div>
    </div>

    <!-- Cột 2: Menu -->
    <div class="footer__col">
      <a href="/index.html" class="footer__menu-item">Trang chủ</a>
      <a href="/pages/gioi-thieu.html" class="footer__menu-item">Giới thiệu</a>
      <a href="/pages/dang-thuc-tho-mau.html" class="footer__menu-item"
        >Dạng thờ mẫu</a
      >
      <a href="/pages/tu-phu.html" class="footer__menu-item">Tứ phủ</a>
      <a href="/pages/hau-dong.html" class="footer__menu-item">Hầu đồng</a>
    </div>

    <!-- Cột 3: Giờ mở cửa -->
    <div class="footer__col">
      <p class="footer__heading">Giờ mở cửa:</p>
      <p>Từ thứ Hai đến Chủ Nhật</p>
      <p>Từ 08h30 đến 17h30</p>
    </div>

    <!-- Cột 4: Social -->
    <div class="footer__col">
      <p class="footer__heading">Theo dõi chúng tôi tại:</p>

      <div class="footer__social">
        <a href="#">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="#">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="#">
          <i class="fa-brands fa-tiktok"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
