<footer class="footer">
  <div class="footer__container main-width">
    <div class="footer__col footer__col--large">
      <img src="/assets/images/logo.png" alt="Logo" class="footer__logo" />

      <div class="footer__contact">
        <div class="footer__contact-item">
          <i class="fa-solid fa-location-dot"></i>
          <p>206/19/30 Long Thuận, P. Long Phước, Q. 9, TPHCM</p>
        </div>

        <div class="footer__contact-item">
          <i class="fa-solid fa-phone"></i>
          <p>091 472 69 48</p>
        </div>

        <div class="footer__contact-item">
          <i class="fa-solid fa-envelope"></i>
          <p>info@baotangaodaivietnam.com</p>
        </div>
      </div>
    </div>

    <!-- Cột 2: Menu -->
    <div class="footer__col">
      <p class="footer__menu-item">Trang chủ</p>
      <p class="footer__menu-item">Giới thiệu</p>
      <p class="footer__menu-item">Tin Tức</p>
      <p class="footer__menu-item">Khám phá</p>
      <p class="footer__menu-item">Trải nghiệm</p>
    </div>

    <!-- Cột 3: Giờ mở cửa -->
    <div class="footer__col">
      <p class="footer__heading">Giờ mở cửa:</p>
      <p>Từ thứ Hai đến Chủ Nhật</p>
      <p>Từ 08h30 đến 17h30</p>
    </div>

    <!-- Cột 4: Social -->
    <div class="footer__col">
      <p class="footer__heading">Theo dõi chúng tôi tại:</p>

      <div class="footer__social">
        <a href="#">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="#">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="#">
          <i class="fa-brands fa-tiktok"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
