<link rel="stylesheet" href="../../css/home/forms.css" />

<section
  class="forms page-padding"
  style="background-image: url('/assets/images/home/home-bg.jpg')"
>
  <div class="main-width">
    <div class="page-title">
      <img
        src="/assets/images/home/line-left.png"
        alt=""
        class="page-title__line page-title__line--left"
      />

      <h1 class="page-title__text">Các dạng thức thờ mẫu</h1>

      <img
        src="/assets/images/home/line-left.png"
        alt=""
        class="page-title__line page-title__line--right"
      />
    </div>
    <div class="forms__grid">
      <!-- Miền Bắc -->
      <div class="forms__item" data-animate="fade-up">
        <div class="forms__image-wrapper">
          <img
            src="/assets/images/home/form-mien-bac.webp"
            alt="Thờ Mẫu Miền Bắc"
            class="forms__image"
          />
        </div>
        <div class="forms__content">
          <h3 class="forms__title">Thờ Mẫu ở Miền Bắc</h3>
          <ul class="forms__list">
            <li class="forms__list-item">
              Trung tâm của tín ngưỡng Thờ Mẫu Việt Nam.
            </li>
            <li class="forms__list-item">
              Thờ các Mẫu: Quốc Mẫu, Vương Mẫu, Thánh Mẫu…
            </li>
            <li class="forms__list-item">
              Mẫu Tam phủ – Tứ phủ: Mẫu Liễu Hạnh, Mẫu Thượng Ngàn…
            </li>
          </ul>
        </div>
      </div>

      <!-- Miền Trung -->
      <div class="forms__item" data-animate="fade-up">
        <div class="forms__image-wrapper">
          <img
            src="/assets/images/home/form-mien-trung.jpg"
            alt="Thờ Mẫu Miền Trung"
            class="forms__image"
          />
        </div>
        <div class="forms__content">
          <h3 class="forms__title">Thờ Mẫu ở Miền Trung</h3>
          <ul class="forms__list">
            <li class="forms__list-item">
              Kết hợp văn hóa Chăm Pa và truyền thống Bắc Bộ.
            </li>
            <li class="forms__list-item">
              Thờ Thiên Y A Na, Bà Ngũ Hành, Tứ vị Thánh nương.
            </li>
            <li class="forms__list-item">
              Nghi lễ Hầu đồng Huế chịu ảnh hưởng Đạo giáo.
            </li>
          </ul>
        </div>
      </div>

      <!-- Miền Nam -->
      <div class="forms__item" data-animate="fade-up">
        <div class="forms__image-wrapper">
          <img
            src="/assets/images/home/form-mien-nam.jpg"
            alt="Thờ Mẫu Miền Nam"
            class="forms__image"
          />
        </div>
        <div class="forms__content">
          <h3 class="forms__title">Thờ Mẫu ở Miền Nam</h3>
          <ul class="forms__list">
            <li class="forms__list-item">Pha trộn Việt – Khmer – Chăm.</li>
            <li class="forms__list-item">
              Thờ Bà Chúa Xứ, Bà Đen, Bà Thiên Hậu, Bà Ngũ Hành…
            </li>
            <li class="forms__list-item">
              Các Cô linh ứng: Cô Sáu Côn Đảo, Cô Năm Châu Đốc…
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
