<link rel="stylesheet" href="../../css/home/hero.css" />

<section class="slider hero" data-slider data-autoplay="true">
  <!-- Slides -->
  <div
    class="slider__slide hero__slide is-active"
    style="
      background-image: url(&quot;/assets/images/home/hero-banner-1.webp&quot;);
    "
  ></div>

  <div
    class="slider__slide hero__slide"
    style="
      background-image: url(&quot;/assets/images/home/hero-banner-2.png&quot;);
    "
  ></div>

  <div
    class="slider__slide hero__slide"
    style="
      background-image: url(&quot;/assets/images/home/hero-banner-3.png&quot;);
    "
  ></div>

  <!-- Overlays -->
  <div class="hero__overlay hero__overlay--top"></div>
  <div class="hero__overlay hero__overlay--bottom"></div>
  <div class="hero__overlay hero__overlay--dark"></div>

  <!-- Content -->
  <div class="hero__content">
    <!-- Decor top -->
    <div class="hero__decor" data-animate="fade-down">
      <span class="hero__decor-line"></span>
      <span class="hero__decor-dot"></span>
      <span class="hero__decor-line"></span>
    </div>

    <h1 class="hero__title">
      Tín Ngưỡng Thờ Mẫu<br />
      Việt Nam
    </h1>

    <div class="hero__subtitle">
      <p>Di sản văn hoá phi vật thể</p>

      <span>UNESCO 2016</span>
    </div>

    <!-- Decor bottom -->
    <div class="hero__decor" data-animate="fade-up">
      <span class="hero__decor-line"></span>
      <span class="hero__decor-dot"></span>
      <span class="hero__decor-line"></span>
    </div>
  </div>

  <!-- Slider pagination  -->
  <div class="slider__pagination"></div>

  <!-- Scroll indicator -->
  <div class="hero__scroll">
    <div class="hero__mouse">
      <span class="hero__wheel"></span>
    </div>
  </div>
</section>
