<link rel="stylesheet" href="../../css/home/introduction.css" />

<section class="introduction main-width">
  <div class="introduction__container page-padding">
    <h2 class="introduction__subtitle">Giới thiệu</h2>

    <div class="page-title">
      <img
        src="/assets/images/home/line-left.png"
        alt=""
        class="page-title__line page-title__line--left"
      />

      <h1 class="page-title__text">Tín ngưỡng thờ mẫu</h1>

      <img
        src="/assets/images/home/line-left.png"
        alt=""
        class="page-title__line page-title__line--right"
      />
    </div>

    <div class="introduction__content">
      <div class="introduction__column">
        <p>
          Tín ngưỡng thờ Mẫu Việt Nam hay thường gọi là Đạo Mẫu, thờ Thánh Mẫu,
          thờ Mẫu tam phủ, tứ phủ xuất hiện khá phổ biến và có nguồn gốc lịch sử
          xã hội sâu xa. Tuy cùng tôn sùng thần linh nữ tính nhưng giữa thờ Nữ
          thần, Thánh Mẫu, Thánh Cô, Mẫu tam phủ, tứ phủ có sự phân chia rõ rệt
          về quyền năng, địa vị và hệ thống phân cấp.
        </p>
        <br />
        <p>
          Đây là tín ngưỡng bản địa lâu đời, đề cao hình tượng Người Mẹ mang
          quyền năng sinh sôi, bảo trợ và che chở cho con người. Trong đó, người
          phụ nữ Việt gửi gắm khát vọng vượt qua những ràng buộc của xã hội
          phong kiến. Ngoài ra còn có Thánh Bản mệnh là vị thần đứng đầu dẫn dắt
          người tu đạo đi đến với Mẹ (Mẫu) - Đấng Tối cao trong Đạo Mẫu Việt Nam
          – Hoàng Thiên Tiên Thánh Giáo trong tín ngưỡng thờ Mẫu Việt Nam.
        </p>
      </div>

      <div class="introduction__image-box">
        <img
          src="/assets/images/home/introduction-image.jpg"
          alt="Tượng Mẹ Âu Cơ"
          class="introduction__image"
        />
        <p class="introduction__image-caption">
          Tượng thờ Quốc mẫu Âu Cơ tại Đền Hùng trong Công viên Tao Đàn
        </p>
      </div>

      <div class="introduction__column">
        <p>
          Vào hồi 17h15 giờ địa phương (21h15 giờ Việt Nam) ngày 1/12/2016, tại
          Phiên họp Ủy ban Liên Chính phủ về bảo vệ di sản văn hóa phi vật thể
          lần thứ 11 của UNESCO diễn ra tại thành phố Addis Ababa, Cộng hòa dân
          chủ Liên bang Ethiopia, di sản “Thực hành Tín ngưỡng thờ Mẫu Tam phủ
          của người Việt” tại 14 tỉnh đã chính thức được UNESCO ghi danh tại
          Danh sách Di sản văn hóa phi vật thể đại diện của nhân loại.
        </p>

        <div class="introduction__more">
          <a href="/gioi-thieu" class="introduction__more-link">
            <span>Xem thêm</span>
            <i class="fa-solid fa-arrow-right"></i>
            <span class="introduction__underline"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
