<link rel="stylesheet" href="../../css/home/realms.css" />

<section class="realms main-width">
  <div class="home-padding">
    <div class="home-title">
      <img
        src="/assets/images/home/line-left.png"
        alt=""
        class="home-title__line home-title__line--left"
      />

      <h1 class="home-title__text">Tứ phủ thánh mẫu</h1>

      <img
        src="/assets/images/home/line-left.png"
        alt=""
        class="home-title__line home-title__line--right"
      />
    </div>

    <div class="realms__grid">
      <!-- Thiên Phủ -->
      <div class="realms__item realms__item--red">
        <div class="realms__image-wrapper">
          <img
            src="/assets/images/home/mau-thien-tien.jpg"
            alt="Mẫu Đệ Nhất Thượng Tiên"
            class="realms__image"
          />
        </div>
        <div class="realms__content">
          <h3 class="realms__realm-name">Thiên Phủ</h3>
          <p class="realms__desc">Mẫu Đệ Nhất Thượng Tiên</p>
          <div class="realms__divider"></div>
        </div>
      </div>

      <!-- Địa Phủ -->
      <div class="realms__item realms__item--yellow">
        <div class="realms__image-wrapper">
          <img
            src="/assets/images/home/mau-dia-tien.jpg"
            alt="Mẫu Đệ Nhị Địa"
            class="realms__image"
          />
        </div>
        <div class="realms__content">
          <h3 class="realms__realm-name">Địa Phủ</h3>
          <p class="realms__desc">Mẫu Đệ Nhị Địa</p>
          <div class="realms__divider"></div>
        </div>
      </div>

      <!-- Thoải Phủ -->
      <div class="realms__item realms__item--gray">
        <div class="realms__image-wrapper">
          <img
            src="/assets/images/home/mau-thuy-tien.jpg"
            alt="Mẫu Đệ Tam Thuỷ Tiên"
            class="realms__image"
          />
        </div>
        <div class="realms__content">
          <h3 class="realms__realm-name">Thoải Phủ</h3>
          <p class="realms__desc">Mẫu Đệ Tam Thuỷ Tiên</p>
          <div class="realms__divider"></div>
        </div>
      </div>

      <!-- Nhạc Phủ -->
      <div class="realms__item realms__item--green">
        <div class="realms__image-wrapper">
          <img
            src="/assets/images/home/mau-nhac-tien.jpg"
            alt="Mẫu Đệ Tứ Nhạc Tiên"
            class="realms__image"
          />
        </div>
        <div class="realms__content">
          <h3 class="realms__realm-name">Nhạc Phủ</h3>
          <p class="realms__desc">Mẫu Đệ Tứ Nhạc Tiên</p>
          <div class="realms__divider"></div>
        </div>
      </div>
    </div>
  </div>
</section>
