/* GRID */
.realms__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin-top: 48px;
}

@media (min-width: 640px) {
  .realms__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

/* ITEM */
.realms__item {
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* COLORS */
.realms__item--red {
  background: rgb(252, 165, 165); /* red-300 */
}
.realms__item--yellow {
  background: rgb(253, 224, 71); /* yellow-300 */
}
.realms__item--gray {
  background: rgb(243, 244, 246); /* gray-100 */
}
.realms__item--green {
  background: rgb(134, 239, 172); /* green-300 */
}

/* IMAGE */
.realms__image-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.realms__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.7s ease;
}

.realms__image:hover {
  transform: scale(1.05);
}

/* TEXT */
.realms__content {
  text-align: center;
  margin-top: 16px;
}

.realms__realm-name {
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.realms__desc {
  margin-top: 4px;
  font-size: 18px;
  color: #000;
}

.realms__divider {
  width: 160px;
  height: 3px;
  background: rgba(0, 0, 0, 0.7);
  margin: 12px auto 0 auto;
  border-radius: 100px;
}
