/* INTRODUCTION PAGE */
.introduction {
}

.introduction__container {
}

.introduction__item {
}

.introduction__title {
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--text-color);
}

/* content text */
.introduction__text {
  font-size: 16px;
  line-height: 32px;
  text-align: justify;
  color: var(--text-color-light);
  margin-top: 16px;
  font-weight: 300;
}

/* image */
.introduction__image img {
  width: 100%;
  height: 390px;
  object-fit: cover;
  border-radius: 8px;
}

.introduction__caption {
  font-size: 14px;
  color: #666;
  font-style: italic;
  text-align: center;
}

/* Responsive */
@media (min-width: 768px) {
  .introduction__image img {
    height: 250px;
  }

  .introduction__title {
    font-size: 32px;
    font-weight: 400;
  }

  .introduction__text {
    font-size: 18px;
    margin-top: 36px;
  }
}

@media (min-width: 1024px) {
  .introduction__image img {
    height: 250px;
  }

  .introduction__title {
    font-size: 48px;
  }
}
