/* INTRODUCTION PAGE */
.introduction {
}

.introduction__container {
}

.introduction__item--flex .introduction__text {
  margin-top: 0;
}

.introduction__title {
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--text-color);
}

/* content text */
.introduction__text {
  font-size: 14px;
  line-height: 28px;
  text-align: justify;
  color: var(--text-color-light);
  margin-top: 16px;
  font-weight: 300;
}

.introduction__image
{
  text-align: center;
}

/* image */
.introduction__image img {
  width: 100%;
  object-fit: contain;
  margin-top: 28px;
  width: 800px;
  height: 650px;
}

.introduction__caption {
  font-size: 14px;
  color: #666;
  font-style: italic;
  text-align: center;
  margin-top: 16px;
  padding: 0 28px;
}

/* Responsive */
@media (min-width: 768px) {
  .introduction__image img {
    margin-top: 48px;
  }

  .introduction__title {
    font-size: 46px;
    font-weight: 400;
    padding: 0 28px;
  }

  .introduction__text {
    font-size: 16px;
    line-height: 32px;
    margin-top: 28px;
    padding: 0 28px;
  }

  .introduction__item--flex {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .introduction__image img {
    margin-top: 64px;
  }

  .introduction__title {
    font-size: 48px;
  }
  .introduction__text {
    font-size: 18px;
    margin-top: 36px;
  }
  .introduction__caption {
    font-size: 16px;
    margin-top: 20px;
  }
}
