/* ===== REALMS SECTION ===== */
.realms {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.realms__text {
  font-size: 14px;
  line-height: 2;
  color: var(--text-color-light);
  text-align: justify;
  padding: 0 8px;
}

/* Realm item */
.realms__item {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

/* Image wrapper */
.realms__image-wrapper {
  position: relative;
}

.realms__image {
  width: 100%;
  height: 540px;
  object-fit: contain;
  border-radius: 16px;
}

/* Content */
.realms__content {
  flex: 1;
}

.realms__name {
  font-size: 32px;
  font-weight: 700;
}

.realms__desc {
  font-size: 20px;
  line-height: 1.6;
  margin-top: 10px;
}

.realms__divider {
  margin-top: 20px;
  height: 3px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
}

/*  realm info  */
.realms__desc--title {
  font-size: 22px;
}

.realms__desc-subtitle {
  display: block;
  margin-top: 6px;
  font-size: 14px;
}

.realms__info-intro {
  margin-top: 20px;
  font-size: 15px;
  line-height: 28px;
  color: var(--text-color-light);
}

.realms__info-list {
  margin-top: 24px;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.realms__info-item {
  display: flex;
  flex-direction: column;
}

.realms__info-label {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.8;
  font-weight: 700;
}

.realms__info-value {
  margin-top: 4px;
  font-size: 14px;
  line-height: 26px;
  color: var(--text-color-light);
}

/* Responsive ipad */
@media (min-width: 768px) {
  .realms {
    display: flex;
    gap: 60px;
  }

  .realms__item {
    gap: 48px;
    flex-direction: row;
    padding-bottom: 20px;
  }

  .realms__text {
    font-size: 16px;
  }

  .realms__info-label {
    font-size: 16px;
  }

  .realms__name {
    text-align: left;
    font-size: 36px;
  }

  .realms__desc-subtitle {
    font-size: 16px;
  }

  .realms__desc {
    font-size: 24px;
  }

  .realms__image {
    height: 580px;
    box-shadow: 0 18px 40px rgba(0, 0, 0, 0.32);
  }

  .realms__divider {
    margin: 20px 0 0;
  }

  .page-background__section:nth-child(even) .realms__item {
    flex-direction: row-reverse;
  }
}

/* Responsive desktop */
@media (min-width: 1024px) {
  .realms {
    gap: 60px;
  }

  .realms__image {
    height: 620px;
  }

  .realms__text {
    font-size: 18px;
    line-height: 32px;
    padding: 0 28px;
  }

  .realms__desc {
    font-size: 28px;
  }

  .realms__item {
    gap: 120px;
    padding-bottom: 40px;
  }
}
